# 09th Sept '23 : Python - Introduction to functions

In [5]:
number = 0

if number > 0 :
    print("Positive Number")
    
elif number == 0 :
    print("Zero")
    
else :
    print("Negative Number")

Zero

In [6]:
for i in range(5) :
    print(i)

0
1
2
3
4

In [7]:
days = 0

week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

while days < 7 :
    print(f"Today is {week[days]}")
    
    days +=1

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

### SPLIT FUNCTIONS

In [8]:
text = "I Write Code"

text.split()

['I', 'Write', 'Code']

In [9]:
x = input("Enter 3 words: ")

Enter 3 words:  welcome to pwskills

In [10]:
word1,word2,word3 = x.split()

In [11]:
word1

'welcome'

In [12]:
word2

'to'

In [13]:
word3

'pwskills'

In [16]:
## Another Example

a,b = input("Enter 2 number :").split()

c = a+b ## this will place the input values one after another because it does not count as an integer

d = int(a) + int(b) ## this will count as an integer as we converted the values

print(c)

print(d)

Enter 2 number : 2 3

23
5

In [17]:
## Max Split

In [18]:
s1 = "A B C D E F"

print(s1.split(' ', 4))

['A', 'B', 'C', 'D', 'E F']

In [20]:
for letter in "pwskills" :
    print('letter: ',letter)

letter:  p
letter:  w
letter:  s
letter:  k
letter:  i
letter:  l
letter:  l
letter:  s

In [21]:
## Break operation

for letter in "pwskills" :
    
    if letter == 'l':
        break
    print('letter: ',letter)

letter:  p
letter:  w
letter:  s
letter:  k
letter:  i

In [22]:
## Break statement using while loop

i = 1

while i <=10:
    print(i)
    
    if i == 5 :
        break
        
    i+=1

1
2
3
4
5

In [23]:
## continue statement

for letter in 'pwskills' :
    if letter == 'i' :
        continue
        
    print(letter)

p
w
s
k
l
l
s

In [25]:
## here you can see the 'i' portion from the string is missing. it helps to skip the perticular iterations

In [26]:
### therefore

## break -- end the loop

## continue -- skip the loop

In [27]:
# write a program to print odd number from 1 to 10

for i in range(10) :
    if i%2 == 1 :
        print(i)

1
3
5
7
9

In [29]:
## Pass function

## pass will do nothing but it helps to make the code properly

## it is like if you want to change a code in some segment according to requirements, then we can use this

n = 10

if n > 10 :
    pass

print('hello')

hello

In [30]:
for i in range(5) :
    pass

### Functions

In [31]:
def add_nums(a, b) :
    return a+b

In [32]:
# def helps for defining the function

## after def we name the function (within bracket we set the arguments)

### then write the function body under the return statement

In [33]:
'''
def functionname(arguments) :
    ## function body
    return
    '''

'\ndef functionname(arguments) :\n    ## function body\n    return\n    '

In [34]:
def addnum() :
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    
    c = a+b
    
    return c

In [35]:
addnum()

Enter first number:  5
Enter second number:  5

10

In [50]:
def intro(first_name, last_name) :
    print('Hi!',first_name+' '+last_name)

In [51]:
intro('Dibyendu', 'Chowdhury')

Hi! Dibyendu Chowdhury

In [55]:
## defining area of a circule given radius using a function

def area_of_circle(radius) :
    return 3.14*radius*radius

In [56]:
area_of_circle(3)

28.259999999999998

In [57]:
## defining area of a rectangle given radius using a function

def area_of_rectangle(length, breadth) :
    return length*breadth

In [58]:
area_of_rectangle(10,3)

30

In [60]:
## defining area of a triangle given radius using a function

def area_of_triangle(base, height) :
    return 0.5*base*height

In [61]:
area_of_triangle(10,30)

150.0

In [62]:
## accept an integer as input and print its square as an output

In [64]:
integer = int(input("Enter an integer: "))

square = integer**2

print(f"square of the integer {integer} is: {square}")

Enter an integer:  45

square of the integer 45 is: 2025

In [65]:
## Accept two words as input and print the two words after adding a space between them

In [67]:
a = input('enter word: ')
b = input('enter word: ')

c = a + ' ' + b

print(c)

enter word:  raja
enter word:  s

raja s

In [69]:
### this can also used with the help of function

def function(first_name, last_name) :
    c = first_name + ' ' + last_name
    return c

In [71]:
function('raja', 's')

'raja s'

In [72]:
# create a python program that includes a user-defined function called print_even_number(). 
# the function should prompt the user to set a range limit before printing all the even numbers upto that limit

In [76]:
def print_even_number() :
    lim_1 = int(input("enter first limit of even number: "))
    lim_2 = int(input("enter second limit of even number: "))
    
    for i in range(lim_1, lim_2+1) :
        if i%2 == 0 :
            print(i, end = " ")

In [77]:
print_even_number()

enter first limit of even number:  2
enter second limit of even number:  50

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [79]:
def check_right_triangle(a,b,c):
    if a**2 == b**2 +c**2 or b**2 == c**2 + a**2 or c**2 == a**2 + b**2 :
        print("it is a right angled triangle")
    else :
        print('it is not a right angle triangle')
        
a = int(input("Enter first side of the triangle: "))
b = int(input("Enter second side of the triangle: "))
c = int(input("Enter third side of the triangle: "))

check_right_triangle(a,b,c)

Enter first side of the triangle:  5
Enter second side of the triangle:  7
Enter third side of the triangle:  8

it is not a right angle triangle