# 10 Sep'23 : Python - Lambda Functions

accept string as an input. your task is to determine if the input string is a valid password or not. for a string to be valid password, we must satisfy all the conditions

- . it should have at least 8 and at most 32 characters
- . it should start with an uppercase and lowecase letter
- . it should not have any of these characters \ / = ' "
- . it should not have any spaces
- . it could have any character that is not mentioned in the list of characters to be avoided (point number 3 and 4)

output True if string forms a valid password else output will be False

In [4]:
# answer

def validation(pwd: str) :
    if 8 <= len(pwd) <=32 and pwd[0].isalpha() and all(char not in pwd for char in [" ", "'", "/", "=", "\\"]) :
        return True
    else :
        return False

In [5]:
validation('raja')

False

In [6]:
## Local and global Variable

In [8]:
def greet() :
    message = "Hello!"
    
    print("Local", message)

#print(message)

In [10]:
greet()

Local Hello!

In [11]:
def greet() :
    message = "Hello!"
    
    print("Local", message)

print(message)

NameError: name 'message' is not defined

In [12]:
## here we can see that if we need to print anything from the function, we need to make command within the function

## function stores the print inside the local variable

In [13]:
## another example

def add() :
    x,y = 20,30
    print(x+y)

In [14]:
add()

50

In [15]:
print(x)

NameError: name 'x' is not defined

In [16]:
## here x is a local variable

In [18]:
x = 'awesome'
## global scope x

def my_func() :
    x = 'fantastic'
    ## local scope x
    
    print(x)
    
my_func()
print(x)

fantastic
awesome

In [1]:
x = 20 

def add() :
    y = 30 
    
    print("Local Variable y = ", y)
    
    print("Global Variable x = ", x)
    
    z = x+y
    
    print(z)

In [2]:
add()

Local Variable y =  30
Global Variable x =  20
50

- we can access global variable inside a function

#### there are two types of fuctions 

1. user defined (we will make)

2. build-in functions (already some developer made these functions)

In [3]:
## Python Function Arguments

In [9]:
## Positional arguments

def add_nums(a,b) : ## it will always ask for two arguments when we will use this function
    sum_1 = a+b
    print(sum_1)

In [10]:
add_nums(2,3)

5

In [11]:
## Default arguments

def add_nums_1(a = 4, b = 8) : ## it will not always ask for two arguments, rather it will take those default values if we are not giving any
    sum_1 = a+b
    print(sum_1)

In [12]:
add_nums_1()

12

In [13]:
add_nums_1(2,4)

6

In [14]:
## keyword arguments

def display_info(first_name, last_name) :
    print(f"First Name: {first_name}")
    print(f"Last Name: {last_name}")

In [16]:
display_info(first_name= 'pw', last_name='skills') ## you can write in any order

First Name: pw
Last Name: skills

In [1]:
## arguments and keyward_arguments

## *args and **kargs

In [2]:
# you can use any name instead of args and kargs but the stars are important

In [7]:
def find_num(*numbers) :
    result = 0
    
    for num in numbers :
        result +=num
    print("sum", result)

In [8]:
find_num()

sum 0

In [9]:
find_num(1,2,3)

sum 6

In [10]:
find_num(1,2,3,4,5,6,7,8,9)

sum 45

In [13]:
## **kargs

def intro(**data) :
    print(f"data type of argument", type(data))
    
    for key, value in data.items() :
        print(key,value)

In [14]:
intro(firstname = 'pw', lastname = 'skills')

data type of argument <class 'dict'>
firstname pw
lastname skills

### Lambda or Annonymus Function

In [15]:
## skeletal bosy

## lambda arguments : expression

In [16]:
x = lambda : print('hello')

In [18]:
x()

hello

In [19]:
y = lambda a,b : a+b

In [21]:
y(5,5)

10

In [22]:
# similarly multiplication

m = lambda x,y : x*y

In [23]:
m(5,5)

25

In [24]:
## making square of two numbers separately using lambda function

In [27]:
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))

square = lambda a,b : (a**2, b**2)

print(square(a,b))

Enter First Number :  7
Enter Second Number :  9

(49, 81)

In [28]:
## even number using lambda

even = lambda x : 'true' if x%2 == 0 else 'false'

In [29]:
even(23)

'false'

In [32]:
# or you can make this way 

number = lambda x : 'number is even' if x%2 == 0 else 'number is odd'

In [33]:
number(56)

'number is even'

In [34]:
### write a lambda function which accepts 2 arguments and return the greater amongst them

In [38]:
a = int(input("Enter first number : "))
b = int(input("Enter Second number : "))

greater = lambda a,b : a if a>b else b

print("Greater number is : ", greater(a,b))

Enter first number :  45
Enter Second number :  56

Greater number is :  56

In [39]:
products = [{'name' : 'product1', 'price' : 50},
            {'name' : 'product2', 'price' : 40},
           {'name' : 'product3', 'price' : 30},
           {'name' : 'product4', 'price': 80}]


# sorted()

sorted_products = sorted(products, key = lambda x : x['price'])

In [40]:
for i in sorted_products :
    print(i)

{'name': 'product3', 'price': 30}
{'name': 'product2', 'price': 40}
{'name': 'product1', 'price': 50}
{'name': 'product4', 'price': 80}

In [41]:
## write a lambda expression that accepts a character as argument and return true if it is vowel other than false

## aeiou

## imran

## i a

In [42]:
## for solving these type of questions, we need to understand the concept of map, filter and reduce

In [45]:
## although we can do this by this way


vowels = ['a','e','i','o','u','A','E','I','O','U']

string = input("enter a string : ")

vowels_list = [string[i] for i in range(len(string)) if string[i] in vowels]

vowels_list

enter a string :  imran

['i', 'a']

### Enumerate

In [46]:
language = ['python', 'java','c++']

enumerate_prime = enumerate(language)

In [47]:
list(enumerate_prime)

[(0, 'python'), (1, 'java'), (2, 'c++')]

In [48]:
# similarly

language = ['python', 'java','c++']

enumerate_prime = enumerate(language, 3)

In [49]:
list(enumerate_prime)

[(3, 'python'), (4, 'java'), (5, 'c++')]

### List Comprehension

In [50]:
# [output | collection | condition]

# example

list_1 = [1,2,3,4,5,6,7,8,9,10]

a = [x+1 for x in list_1]

In [51]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
a1 = [x+1 for x in list_1]

In [53]:
a1

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [54]:
a2 = [x**2 for x in list_1]

In [55]:
a2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
## another example

c = [x for x in list_1 if x>4]

c

[5, 6, 7, 8, 9, 10]

In [57]:
## even number 

result = [i for i in list_1 if i%2 == 0]

result

[2, 4, 6, 8, 10]

In [58]:
## breakdown 

# modular process

a = []

for x in list_1 :
    if x%2 == 0 : 
        a.append('two')
        
    elif x%3 == 0 :
        a.append('three')
        
    else :
        a.append('not 2 and 3')

In [59]:
a

['not 2 and 3',
 'two',
 'three',
 'two',
 'not 2 and 3',
 'two',
 'not 2 and 3',
 'two',
 'three',
 'two']

In [64]:
#  comprehenstion process

f = ['two' if x%2 == 0 else 'three' if x%3 == 0 else 'not 2 and 3' for x in list_1] # dont use elif here

In [65]:
f

['not 2 and 3',
 'two',
 'three',
 'two',
 'not 2 and 3',
 'two',
 'not 2 and 3',
 'two',
 'three',
 'two']