# 17th Sept'23 : For loop , lambda , map , reduce ,filter , recursion

In [1]:
## Function

In [2]:
def test() :
    print('this is my first function')

In [3]:
test()

this is my first function

In [4]:
test() + 'raja'

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [5]:
# the function is returning the string but we cannot concatinate function output and other string

## it because the function returns none type

In [6]:
type(test())

this is my first function

NoneType

In [7]:
# another example

def test_1() :
    print(1+2)

In [8]:
test_1()

3

In [9]:
test_1() + 2

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

print statement always returns NoneType and we cannot be able to do any further operations with the function

we need to use return statement when we use functions

In [10]:
def test_2() :
    return 2+5

In [11]:
test_2()

7

In [12]:
test_2() + 11

18

In [13]:
type(test_2())

int

it is possible to return multiple entities

In [14]:
def test_3() :
    return 2,True,"raja", [1,2,3,4,5]

In [15]:
test_3()

(2, True, 'raja', [1, 2, 3, 4, 5])

more than one returns, returns the values as a tuple

In [16]:
# also

m,n,o,p = test_3()

In [17]:
m

2

In [18]:
n

True

In [19]:
o

'raja'

In [20]:
p

[1, 2, 3, 4, 5]

In [21]:
test_3()[3]

[1, 2, 3, 4, 5]

In [22]:
def test_4(x) :
    return x

In [23]:
test_4()

TypeError: test_4() missing 1 required positional argument: 'x'

In [24]:
## we can also mention or set the datatype in a function

def test_6(x:int, y:int) :
    return x,y

In [26]:
type(test_6(5,7))

tuple

In [28]:
# but 

test_6('abc', [1,2,3,4]) #both are not integer

('abc', [1, 2, 3, 4])

##### it is because python programming language is self identifiable language. it can understand a datatype automatically. so there is no hardcore rule that we have to define a datatype. we can only create a notification for that.

In [29]:
def test_11(x:int, y: int) :
    return x/y

In [30]:
test_11(10,5)

2.0

In [31]:
test_11("raja", "subho")

TypeError: unsupported operand type(s) for /: 'str' and 'str'

we can't restrict the user. only notify the user

#### Also, by looking into any function, we cant be able to understand the workablity. If I am creating my own fuction, and I want to other to do the same thing with the function then I need to implement some defination. for that we can use the double quote mark (") three times as docstring under the function.

In [32]:
def test_add(c,d) :
    """ this is my function which makes addition of two integer values
    """
    return c+d

In [33]:
### when we making any function always try to make a docstring for the function. this is a standard approacch

In [34]:
### multiple arguments

In [35]:
def test10(*args):
    return args

In [36]:
test10()

()

In [37]:
test10(2,1,4,5,6,8,9,7,4,1,2,5,4,7)

(2, 1, 4, 5, 6, 8, 9, 7, 4, 1, 2, 5, 4, 7)

In [39]:
def test11(*raja) :
    return raja # we can use any name instead of args

In [40]:
#  ** kwargs

In [41]:
def test_kw(**kwargs) :
    return kwargs

In [42]:
test_kw(a = 10, b = 20)

{'a': 10, 'b': 20}

In [43]:
# also

test_kw(n = {'a': 4, 'b' : 5, 'c': 6})

{'n': {'a': 4, 'b': 5, 'c': 6}}

In [48]:
def test_kw_1(b,a = 30, c = 40) :
    return a,b,c

In [49]:
test_kw_1(56)

(30, 56, 40)

In [50]:
## lambda

m = lambda x,y : x+y

In [51]:
m(3,4)

7

In [52]:
def check_even(n) :
    if n%2 == 0 :
        return "even number"
    else :
        return "odd number"

In [53]:
check_even(3)

'odd number'

In [54]:
b = lambda n : "even number" if n%2 == 0 else "odd number"

In [55]:
b(3)

'odd number'

In [56]:
l = [4,5,2,1,4,5,6,9,87,65,5,99,21,1254,578,4123,5469,857,412,45]

min_list = lambda li : min(li)

In [57]:
min_list(l)

1

In [58]:
upper = lambda s : s.upper()

In [59]:
upper("dibyendu")

'DIBYENDU'

In [62]:
## sum of odd number

l = [4,5,2,1,4,5,6,9,87,65,5,99,21,1254,578,4123,5469,857,412,45]

def sum_odd(b) :
    l1 = []
    
    for i in l :
        if i%2 != 0 :
            l1.append(i)
            
    return sum(l1)

In [63]:
sum_odd(l)

10791

In [65]:
## same thing using lambda function

[i for i in l if i % 2 != 0] # returns the odd numbers from the list

[5, 1, 5, 9, 87, 65, 5, 99, 21, 4123, 5469, 857, 45]

In [67]:
sum([i for i in l if i % 2 != 0]) # returns sum

10791

In [68]:
## using lambda

sum_of_lambda = lambda b : sum([i for i in l if i % 2 != 0])

In [69]:
sum_of_lambda(l)

10791

#### Lambda can be called as single liner definations or single liner function. also lambda called as snnonymus function

### Recursion

In [70]:
def fact_num(n) :
    if n == 0 :
        return 1
    else :
        return n*fact_num(n-1)

In [71]:
fact_num(0)

1

In [72]:
fact_num(5)

120

In [75]:
### without recursion


def without_rec_fact(n) : 
    a = 1
    for i in range(1,n+1) :
        a = i*a
        
    return a

In [76]:
without_rec_fact(5)

120

In [77]:
## using lambda

fact_num_lambda = lambda n : 1 if n==0 else n*fact_num_lambda(n-1)

In [78]:
fact_num_lambda(5)

120

In [79]:
## suppose we have to addition of 2 from each list member 

l = [4,5,2,1,4,5,6,9,87,65,5,99,21,1254,578,4123,5469,857,412,45]

l1 = []
for i in l :
    l1.append(i+2)

In [80]:
l1

[6,
 7,
 4,
 3,
 6,
 7,
 8,
 11,
 89,
 67,
 7,
 101,
 23,
 1256,
 580,
 4125,
 5471,
 859,
 414,
 47]

In [81]:
def add_list(l) :
    l1 = []
    for i in l :
        l1.append(i+2)
    return l1

In [82]:
add_list([3,4,5,6,7])

[5, 6, 7, 8, 9]

In [83]:
### using lambda

v = lambda a : a+2

In [84]:
v(10)

12

In [85]:
map(lambda a : a+2, l)

In [86]:
list(map(lambda a : a+2, l))

[6,
 7,
 4,
 3,
 6,
 7,
 8,
 11,
 89,
 67,
 7,
 101,
 23,
 1256,
 580,
 4125,
 5471,
 859,
 414,
 47]

#### map functions indivitually and returns the outputs

In [87]:
def test34(c) :
    return c+2

In [89]:
list(map(test34,l))

[6,
 7,
 4,
 3,
 6,
 7,
 8,
 11,
 89,
 67,
 7,
 101,
 23,
 1256,
 580,
 4125,
 5471,
 859,
 414,
 47]

In [90]:
l_str = ['raja','dibyendu', 'subho']

In [91]:
len('raja')

4

In [92]:
len('subho')

5

In [93]:
len('dibyendu')

8

In [94]:
l1 = []

for i in l_str :
    l1.append(len(i))

In [95]:
l1

[4, 8, 5]

In [96]:
def test_01(l) :
    l1 = []
    for i in l :
        l1.append(len(i))
        
    return l1

In [98]:
test_01(l_str)

[4, 8, 5]

In [99]:
## using map

list(map(lambda x : len(x), l_str))

[4, 8, 5]

In [101]:
list(map(len, l_str))

[4, 8, 5]

In [102]:
l_str

['raja', 'dibyendu', 'subho']

In [103]:
l_str[::-1]

['subho', 'dibyendu', 'raja']

In [105]:
l_str[1][::-1]

'udneybid'

In [104]:
list(map(lambda a : a[::-1], l_str))

['ajar', 'udneybid', 'ohbus']

In [106]:
l = [2,3,4,5,6,6]

## try to an outcome which is going to be multiplication of all the elements available inside a list

In [107]:
## for this we need to import functools

from functools import reduce

reduce(lambda a,b : a*b, l)

4320

In [108]:
## determining minimum element from the list with the help of comparison

reduce(lambda a,b : a if a < b else b, l)

2

In [109]:
## factorial 

n = 4

fact = reduce(lambda a,b : a*b , range(1, n+1))

In [110]:
fact

24

In [111]:
## multiplication of even elements from the list

reduce(lambda a,b : a*b , [i for i in l if i%2 == 0])

288

In [112]:
l = [4,5,2,1,4,5,6,9,87,65,5,99,21,1254,578,4123,5469,857,412,45]

In [113]:
## returning even element from the list

list(filter(lambda a : a%2 == 0, l))

[4, 2, 4, 6, 1254, 578, 412]

In [114]:
s = "Pw Skills"

# returning the data which is been in lower case only

list(filter(lambda a : a.islower(), s))

['w', 'k', 'i', 'l', 'l', 's']

In [119]:
l = ['pw', 'skills', 'dibyendu', 'dip']

## returning those data which is lesser than 4

list(filter(lambda x : len(x) <= 4, l))

['pw', 'dip']

In [120]:
## not starting from p 

list(filter(lambda a : a[0] == 'p', l))

['pw']

## Recursive function

In [123]:
def gen_fib(n) :
    if n <= 1 :
        return n
    else :
        return gen_fib(n-1) + gen_fib(n-2)

In [124]:
gen_fib(10)

55

In [125]:
# sum of 100 numbers

def sum_till_n(n) :
    if n == 1 :
        return 1
    else :
        return n + sum_till_n(n-1)

In [126]:
sum_till_n(5)

15